@font-face {
  font-family: 'thelamonblack';
  src: url('@/assets/fonts/Thelamonblack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bleeding-cowboys';
  src: url('@/assets/fonts/BleedingCowboys.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
